.node[data-node-type="debug"] {
  display: flex;
  flex-direction: column;
}

.node[data-node-type="debug"] .node-body {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.node[data-node-type="debug"] .node-widget-section {
  flex: 1;
  min-width: 0;
  min-height: 0;
  position: relative;
}

.node[data-node-type="debug"] .node-widget-section .node-widget {
  position: absolute;
  inset: 0;
}

.node-widget-debug {
  position: absolute;
  margin: 6px;
  inset: 0;
  overflow: auto;
  background: #202020;
  border-radius: 4px;
}

.node-widget-debug-output {
  margin: 0;
  padding: 4px;
  font-size: 0.65rem;
  font-family: ui-monospace, monospace;
  color: #aaa;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}
