.widget-integer-field-wrap {
  width: 100%;
}

.widget-integer-field {
  width: 100%;
  padding: 2px 4px;
  font-size: 0.7rem;
  color: #ccc;
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  -moz-appearance: textfield;
}

.widget-integer-field::-webkit-inner-spin-button,
.widget-integer-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.widget-integer-field:focus {
  border-color: #666;
}

.widget-integer-scrub {
  width: 100%;
  padding: 2px 4px;
  font-family: monospace;
  font-size: 0.7rem;
  color: #ccc;
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: ew-resize;
  user-select: none;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 1.2em;
  line-height: 1.2em;
}

.widget-integer-scrub:hover {
  border-color: #666;
  background: #333;
}

.widget-integer-scrub.scrubbing {
  border-color: #888;
  background: #383838;
}
